@using OIDCServer.ViewModels
@model ConsentViewModel
@{
    ViewData["Title"] = "ConsentPage";
}

<h1>ConsentPage</h1>

<!--显示客户端信息-->
<div class="row">
    <div class="col-sm-10">
        @if (!string.IsNullOrWhiteSpace(Model.ClientLogoUrl))
        {
            <div><img src="@Model.ClientLogoUrl" /></div>
        }

        <h1>
            @Model.ClientName
            <small>希望使用你的账户</small>
        </h1>

    </div>
</div>

<!--显示Scope信息-->
<div class="row">
    <div class="col-sm-8">
        <form asp-action="Index" method="post">
            @if (Model.IdentityScopes.Any())
            {
                <ul class="list-group">

                    @foreach (var scope in Model.IdentityScopes)
                    {
                         @await Html.PartialAsync("_ScopeListItemView", scope)
                    }
                </ul>
            }

            @if (Model.ResourceScopes.Any())
            {
                <div class="card">
                    <div class="card-header">
                        <span class="oi oi-laptop"></span>
                        应用权限
                    </div>
                </div>
                <ul class="list-group">
                    @foreach (var scope in Model.ResourceScopes)
                    {
                        @await Html.PartialAsync("_ScopeListItemView", scope)
                    }
                </ul>
            }
        </form>
    </div>

    <div>
        <button>同意</button>
        <button>取消</button>
        @if (!string.IsNullOrEmpty(Model.ClientUrl))
        {
            <a>
                <span class="oi oi-info"></span>
                <strong>@Model.ClientUrl</strong>
            </a>
        }
    </div>
</div>